@model PMS.Xam.ViewModel.PawnViewModel

@{
    ViewBag.Title = "Edit";
}

<h2>@ViewBag.Title</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Pawn</h4>
        <hr/>
        @Html.ValidationSummary(true, "", new {@class = "text-danger"})
        @Html.HiddenFor(model => model.Id)

        <div class="form-group">
            @Html.LabelFor(model => model.Client, new {@class = "control-label col-md-2"})
            <div class="col-md-10">
                @Html.EditorFor(model => model.Client, new {htmlAttributes = new {@class = "form-control"}})
                @Html.ValidationMessageFor(model => model.Client, "", new {@class = "text-danger"})
            </div>
            @Html.LabelFor(model => model.Rate, new {@class = "control-label col-md-2"})
            <div class="col-md-10">
                @Html.EditorFor(model => model.Rate, new {htmlAttributes = new {@class = "form-control"}})
                @Html.ValidationMessageFor(model => model.Rate, "", new {@class = "text-danger"})
            </div>
            @Html.LabelFor(model => model.ExpiryDate, new {@class = "control-label col-md-2"})
            <div class="col-md-10">
                @Html.EditorFor(model => model.ExpiryDate, new {htmlAttributes = new {@class = "form-control"}})
                @Html.ValidationMessageFor(model => model.ExpiryDate, "", new {@class = "text-danger"})
            </div>
            @Html.LabelFor(model => model.ExtendedToDate, new {@class = "control-label col-md-2"})
            <div class="col-md-10">
                @Html.EditorFor(model => model.ExtendedToDate, new {htmlAttributes = new {@class = "form-control"}})
                @Html.ValidationMessageFor(model => model.ExtendedToDate, "", new {@class = "text-danger"})
            </div>


            @Html.LabelFor(model => model.Items, new {@class = "control-label col-md-2"})
            <div class="col-md-10">
                @Html.EditorFor(model => model.Items, new {htmlAttributes = new {@class = "form-control"}})
                @Html.ValidationMessageFor(model => model.Items, "", new {@class = "text-danger"})
            </div>
            @Html.LabelFor(model => model.StorageLocations, new {@class = "control-label col-md-2"})
            <div class="col-md-10">
                @Html.EditorFor(model => model.StorageLocations, new {htmlAttributes = new {@class = "form-control"}})
                @Html.ValidationMessageFor(model => model.StorageLocations, "", new {@class = "text-danger"})
            </div>
            @Html.LabelFor(model => model.PawnValue, new {@class = "control-label col-md-2"})
            <div class="col-md-10">
                @Html.EditorFor(model => model.PawnValue, new {htmlAttributes = new {@class = "form-control"}})
                @Html.ValidationMessageFor(model => model.PawnValue, "", new {@class = "text-danger"})
            </div>
            @Html.LabelFor(model => model.Payments, new {@class = "control-label col-md-2"})
            <div class="col-md-10">
                @Html.EditorFor(model => model.Payments, new {htmlAttributes = new {@class = "form-control"}})
                @Html.ValidationMessageFor(model => model.Payments, "", new {@class = "text-danger"})
            </div>
            @Html.LabelFor(model => model.EstimatedValueHigh, new {@class = "control-label col-md-2"})
            <div class="col-md-10">
                @Html.EditorFor(model => model.EstimatedValueHigh, new {htmlAttributes = new {@class = "form-control"}})
                @Html.ValidationMessageFor(model => model.EstimatedValueHigh, "", new {@class = "text-danger"})
            </div>
            @Html.LabelFor(model => model.EstimatedValueLow, new {@class = "control-label col-md-2"})
            <div class="col-md-10">
                @Html.EditorFor(model => model.EstimatedValueLow, new {htmlAttributes = new {@class = "form-control"}})
                @Html.ValidationMessageFor(model => model.EstimatedValueLow, "", new {@class = "text-danger"})
            </div>
            @Html.LabelFor(model => model.ClosedDate, new {@class = "control-label col-md-2"})
            <div class="col-md-10">
                @Html.EditorFor(model => model.ClosedDate, new {htmlAttributes = new {@class = "form-control"}})
                @Html.ValidationMessageFor(model => model.ClosedDate, "", new {@class = "text-danger"})
            </div>
            @Html.LabelFor(model => model.Notes, new {@class = "control-label col-md-2"})
            <div class="col-md-10">
                @Html.EditorFor(model => model.Notes, new {htmlAttributes = new {@class = "form-control"}})
                @Html.ValidationMessageFor(model => model.Notes, "", new {@class = "text-danger"})
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default"/>
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}