@model PMS.Xam.ViewModel.PaymentViewModel

@{
    ViewBag.Title = "Details";
}

<h2>@ViewBag.Title</h2>

<div>
    <h4>Payment</h4>
    <hr/>
    <dl class="dl-horizontal">
        <dt> @Html.DisplayNameFor(model => model.Id)</dt>
        <dd> @Html.DisplayFor(model => model.Id) </dd>
        <dt> @Html.DisplayNameFor(model => model.Date)</dt>
        <dd> @Html.DisplayFor(model => model.Date) </dd>
        <dt> @Html.DisplayNameFor(model => model.PaymentType)</dt>
        <dd> @Html.DisplayFor(model => model.PaymentType) </dd>
        <dt> @Html.DisplayNameFor(model => model.Value)</dt>
        <dd> @Html.DisplayFor(model => model.Value) </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new {id = Model.Id}) |
    @Html.ActionLink("Back to List", "Index")
</p>