@model PMS.Xam.ViewModel.PurchaseViewModel

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>


@using (Html.BeginForm("Post", "api/Purchase", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Purchase</h4>
        <hr/>
        @Html.ValidationSummary(true, "", new {@class = "text-danger"})
        <div class="form-group">
            @Html.LabelFor(model => model.Client, new {@class = "control-label col-md-2"})
            <div class="col-md-10">
                @Html.EditorFor(model => model.Client, new {htmlAttributes = new {@class = "form-control"}})
                @Html.ValidationMessageFor(model => model.Client, "", new {@class = "text-danger"})
            </div>

            @Html.LabelFor(model => model.Items, new {@class = "control-label col-md-2"})
            <div class="col-md-10">
                @Html.EditorFor(model => model.Items, new {htmlAttributes = new {@class = "form-control"}})
                @Html.ValidationMessageFor(model => model.Items, "", new {@class = "text-danger"})
            </div>
            @Html.LabelFor(model => model.StorageLocations, new {@class = "control-label col-md-2"})
            <div class="col-md-10">
                @Html.EditorFor(model => model.StorageLocations, new {htmlAttributes = new {@class = "form-control"}})
                @Html.ValidationMessageFor(model => model.StorageLocations, "", new {@class = "text-danger"})
            </div>

            @Html.LabelFor(model => model.Payments, new {@class = "control-label col-md-2"})
            <div class="col-md-10">
                @Html.EditorFor(model => model.Payments, new {htmlAttributes = new {@class = "form-control"}})
                @Html.ValidationMessageFor(model => model.Payments, "", new {@class = "text-danger"})
            </div>
            @Html.LabelFor(model => model.EstimatedValueHigh, new {@class = "control-label col-md-2"})
            <div class="col-md-10">
                @Html.EditorFor(model => model.EstimatedValueHigh, new {htmlAttributes = new {@class = "form-control"}})
                @Html.ValidationMessageFor(model => model.EstimatedValueHigh, "", new {@class = "text-danger"})
            </div>
            @Html.LabelFor(model => model.EstimatedValueLow, new {@class = "control-label col-md-2"})
            <div class="col-md-10">
                @Html.EditorFor(model => model.EstimatedValueLow, new {htmlAttributes = new {@class = "form-control"}})
                @Html.ValidationMessageFor(model => model.EstimatedValueLow, "", new {@class = "text-danger"})
            </div>
            @Html.LabelFor(model => model.SaleableDate, new {@class = "control-label col-md-2"})
            <div class="col-md-10">
                @Html.EditorFor(model => model.SaleableDate, new {htmlAttributes = new {@class = "form-control"}})
                @Html.ValidationMessageFor(model => model.SaleableDate, "", new {@class = "text-danger"})
            </div>
            @Html.LabelFor(model => model.Notes, new {@class = "control-label col-md-2"})
            <div class="col-md-10">
                @Html.EditorFor(model => model.Notes, new {htmlAttributes = new {@class = "form-control"}})
                @Html.ValidationMessageFor(model => model.Notes, "", new {@class = "text-danger"})
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default"/>
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}