@model PMS.Xam.ViewModel.PurchaseViewModel

@{
    ViewBag.Title = "Details";
}

<h2>@ViewBag.Title</h2>

<div>
    <h4>Purchase</h4>
    <hr/>
    <dl class="dl-horizontal">
        <dt> @Html.DisplayNameFor(model => model.Id)</dt>
        <dd> @Html.DisplayFor(model => model.Id) </dd>
        <dt> @Html.DisplayNameFor(model => model.Client)</dt>
        <dd> @Html.DisplayFor(model => model.Client) </dd>

        <dt> @Html.DisplayNameFor(model => model.Items)</dt>
        <dd> @Html.DisplayFor(model => model.Items) </dd>
        <dt> @Html.DisplayNameFor(model => model.StorageLocations)</dt>
        <dd> @Html.DisplayFor(model => model.StorageLocations) </dd>
        <dt> @Html.DisplayNameFor(model => model.PurchaseCost)</dt>
        <dd> @Html.DisplayFor(model => model.PurchaseCost) </dd>
        <dt> @Html.DisplayNameFor(model => model.Payments)</dt>
        <dd> @Html.DisplayFor(model => model.Payments) </dd>
        <dt> @Html.DisplayNameFor(model => model.EstimatedValueHigh)</dt>
        <dd> @Html.DisplayFor(model => model.EstimatedValueHigh) </dd>
        <dt> @Html.DisplayNameFor(model => model.EstimatedValueLow)</dt>
        <dd> @Html.DisplayFor(model => model.EstimatedValueLow) </dd>
        <dt> @Html.DisplayNameFor(model => model.SaleableDate)</dt>
        <dd> @Html.DisplayFor(model => model.SaleableDate) </dd>
        <dt> @Html.DisplayNameFor(model => model.Notes)</dt>
        <dd> @Html.DisplayFor(model => model.Notes) </dd>


    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new {id = Model.Id}) |
    @Html.ActionLink("Back to List", "Index")
</p>